In [13]:
"""module docstring"""
import pandas as pd
from itertools import permutations

from entities import Bet, Competitor, Forecaster, Game
from boards import Boards

from utils import show
from typing import List

In [24]:
one = Boards([f'{c}' for c in "abcdefgh"])

one.mark_winner(0, 'black')
one.mark_winner(1, 'white')
one.mark_winner(2, 'draw')
one.mark_winner(3, 'black')
one.mark_winner(4, 'white')
one.mark_winner(5, 'draw')
one.mark_winner(6, 'black')
one.mark_winner(7, 'draw')
one.mark_winner(8, 'black')

one.games_df.applymap(show).head(15)

   black white winner
0      a     b      a
1      a     c      c
2      a     d   draw
3      a     e      a
4      a     f      f
5      a     g   draw
6      a     h      a
7      b     a   draw
8      b     c      b
9      b     d   None
10     b     e   None
11     b     f   None
12     b     g   None
13     b     h   None
14     c     a   None

In [23]:
one.players_df

   score
a    4.5
b    1.5
c    1.0
d    0.5
e    0.0
f    1.0
g    0.5
h    0.0

In [66]:
class Book(Boards): 
    def __init__(self, competitors):
        self.forecasters = [Forecaster('HOUSE', 1000)]
        #self.forecasters_df = self.make_bettors_df(self.forecasters)
        self.bets = []
        self.boards = Boards(competitors)
        self.games = self.boards.games_df
        self.players = self.boards.players_df
        
    def make_forecaster(self, name): 
        self.forecasters.append(Forecaster(name))
        pass
    
    def bettors_df(self, bettors):
        '''represent the table of bettors'''
        dat = {f.name: [f.balance] for f in bettors}
        bettors = pd.DataFrame.from_dict(dat, 
                                         orient='index', 
                                         columns=['balance'])
        return bettors

tourn = Book([f'{c}' for c in "abcdefgh"])

tourn.games.applymap(show).head()
tourn.players.head()

tourn.make_forecaster("angela")

tourn.make_forecaster("hermione")

X = (lambda xs: tourn.bettors_df(xs))#(tourn.forecasters)

tourn.make_forecaster("dma")

X(tourn.forecasters)

          balance
HOUSE        1000
angela        100
hermione      100
dma           100

In [45]:
help(tourn.forecasters[0])

Help on Forecaster in module entities object:

class Forecaster(builtins.object)
 |  Methods defined here:
 |
 |  __init__(self, name, balance=100)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  show(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

   score
a      0
b      0
c      0
d      0
e      0

['angela',
 'hermione',
 'angela',
 'hermione',
 'angela',
 'hermione',
 'angela',
 'hermione',
 'angela',
 'hermione']