In [18]:
"""module docstring"""
import pandas as pd
from itertools import permutations
import csv
from typing import List, Dict
from fractions import Fraction as ratio
from random import randint, sample

from entities import Bet, Competitor, Forecaster, Game
from boards import Boards
from utils import show

from demo import trn

#dir(trn)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'bets',
 'bettors_df',
 'book_df',
 'competitors',
 'forecasters',
 'games_df',
 'init_H0',
 'make_bets_df',
 'make_bettors_df',
 'make_forecaster',
 'make_games_df',
 'make_players_df',
 'mark_winner',
 'players_df',
 'post_bet',
 'show_avail_bets',
 'show_taken_bets',
 'take_bet']

In [17]:
trn.players_df

                  score
Austin Cole         2.5
Chris Schröder      1.0
Crawford Collins    0.5
Daniel Harris       3.5
Huthman King        2.0
Mychal Hall         1.5
Pierre Damiba       2.0
Ray Lomeli          2.5
Ryan Allred         4.5
Scott Schindler     2.5
Troy Bradley        2.5
Zach Angell         2.0

In [3]:
trn.games_df.applymap(show).head()

              black           white            winner
1     Daniel Harris    Troy Bradley     Daniel Harris
2  Crawford Collins  Chris Schröder  Crawford Collins
3      Huthman King     Mychal Hall      Huthman King
4       Zach Angell    Troy Bradley       Zach Angell
5      Troy Bradley     Austin Cole      Troy Bradley

In [11]:
trn.bettors_df

          balance    username
HOUSE      1000.0  @DUMMYNAME
angela      100.0     @angela
hermione    100.0  @DUMMYNAME
dma         100.0        @dma

In [12]:
trn.book_df.applymap(show)

               posted_by odds                on  amount           taken_by
11956      (HOUSE, 1000)  1:1       Austin Cole       2        (NOBODY, 0)
90522      (HOUSE, 1000)  1:1    Chris Schröder       2        (NOBODY, 0)
14718      (HOUSE, 1000)  1:1  Crawford Collins       2    (angela, 100.0)
65256      (HOUSE, 1000)  1:1     Daniel Harris       2        (NOBODY, 0)
93365      (HOUSE, 1000)  1:1      Huthman King       2  (hermione, 100.0)
79534      (HOUSE, 1000)  1:1       Mychal Hall       2       (dma, 100.0)
34726      (HOUSE, 1000)  1:1     Pierre Damiba       2  (hermione, 100.0)
10213      (HOUSE, 1000)  1:1        Ray Lomeli       2        (NOBODY, 0)
90701      (HOUSE, 1000)  1:1       Ryan Allred       2  (hermione, 100.0)
71315      (HOUSE, 1000)  1:1   Scott Schindler       2        (NOBODY, 0)
93996      (HOUSE, 1000)  1:1      Troy Bradley       2        (NOBODY, 0)
88082      (HOUSE, 1000)  1:1       Zach Angell       2        (NOBODY, 0)
70080       (dma, 100.0)  4:1       Ryan Allred       4        (NOBODY, 0)
50987       (dma, 100.0)  9:1      Troy Bradley       1        (NOBODY, 0)
24542  (hermione, 100.0)  3:1     Pierre Damiba       9        (NOBODY, 0)

In [13]:
trn.show_taken_bets()

           posted_by odds                on  amount           taken_by
14718  (HOUSE, 1000)  1:1  Crawford Collins       2    (angela, 100.0)
93365  (HOUSE, 1000)  1:1      Huthman King       2  (hermione, 100.0)
79534  (HOUSE, 1000)  1:1       Mychal Hall       2       (dma, 100.0)
34726  (HOUSE, 1000)  1:1     Pierre Damiba       2  (hermione, 100.0)
90701  (HOUSE, 1000)  1:1       Ryan Allred       2  (hermione, 100.0)

In [15]:
trn.show_avail_bets()

               posted_by odds               on  amount     taken_by
11956      (HOUSE, 1000)  1:1      Austin Cole       2  (NOBODY, 0)
90522      (HOUSE, 1000)  1:1   Chris Schröder       2  (NOBODY, 0)
65256      (HOUSE, 1000)  1:1    Daniel Harris       2  (NOBODY, 0)
10213      (HOUSE, 1000)  1:1       Ray Lomeli       2  (NOBODY, 0)
71315      (HOUSE, 1000)  1:1  Scott Schindler       2  (NOBODY, 0)
93996      (HOUSE, 1000)  1:1     Troy Bradley       2  (NOBODY, 0)
88082      (HOUSE, 1000)  1:1      Zach Angell       2  (NOBODY, 0)
70080       (dma, 100.0)  4:1      Ryan Allred       4  (NOBODY, 0)
50987       (dma, 100.0)  9:1     Troy Bradley       1  (NOBODY, 0)
24542  (hermione, 100.0)  3:1    Pierre Damiba       9  (NOBODY, 0)