In [13]:
"""module docstring"""
import pandas as pd
from itertools import permutations

from entities import Bet, Competitor, Forecaster, Game
from boards import Boards

from utils import show
from typing import List

In [24]:
one = Boards([f'{c}' for c in "abcdefgh"])

one.mark_winner(0, 'black')
one.mark_winner(1, 'white')
one.mark_winner(2, 'draw')
one.mark_winner(3, 'black')
one.mark_winner(4, 'white')
one.mark_winner(5, 'draw')
one.mark_winner(6, 'black')
one.mark_winner(7, 'draw')
one.mark_winner(8, 'black')

one.games_df.applymap(show).head(15)

   black white winner
0      a     b      a
1      a     c      c
2      a     d   draw
3      a     e      a
4      a     f      f
5      a     g   draw
6      a     h      a
7      b     a   draw
8      b     c      b
9      b     d   None
10     b     e   None
11     b     f   None
12     b     g   None
13     b     h   None
14     c     a   None

In [23]:
one.players_df

   score
a    4.5
b    1.5
c    1.0
d    0.5
e    0.0
f    1.0
g    0.5
h    0.0

In [21]:

class Book(Round): 
    def __init__(self, forecasters):
        super()

Book([f'{c}' for c in "abcdefgh"]).games_df

AttributeError: 'Book' object has no attribute 'games_df'